@media screen and (max-width: 576px) {
    header{
        padding: 3rem 0;
    }
    header h1{
       padding: 0;
        font-size: 2.5rem; 
        margin-bottom: 3rem;       
    }
    header p{
        font-size: 0.8rem;
        margin-bottom: 3rem;
    }
    .donate_des {
      min-width: 98%;
    }
    .donate_amount {
      grid-template-columns: repeat(1, 1fr);
    }
    .amount_feild {
      padding: 0;
      margin: 0.3rem;
      min-width: 97%;
    }
    .amount_feild input {
      min-width: 100%;
      margin-bottom: 2rem;
    }
    .donate_paln_cards{
      flex-direction: column;
    }
    .doante_plan h1{
      font-size: 2rem;
    }
    .donate_pan_des{
      max-width: 90%;
    }
    .about_one{
      flex-direction: column;
    }
    .about_image_one, .about_image_two {
      margin: auto;
      min-width: 100%;
      
    }
    .about_image_one img, .about_image_two img{
      min-width: 100%;
    }
    .update_des{
      max-width: 90%;  
    }
    .email{
      background-color: #fff;
    }
    .email input{
      border: 1px solid orangered;
    }
  }
  